/Trace_GUI/x64
/Trace_GUI/Trace_GUI.sln
/Trace_GUI/Trace_GUI.vcxproj
/Trace_GUI/Trace_GUI.vcxproj.filters
/Trace_GUI/Trace_GUI.vcxproj.user
/Trace_GUI/.vs
/Trace_GUI/packages
/Trace_GUI/packages.config